.homepage-container {
    display: flex;
    width: 100%;
    min-width: 1440px;
    height: 8460px;
    background: #FFFFFF;  
    display: flex;
    justify-content: center;  
}

#section1 {
    position: absolute;
    width: 100%;
    min-width: 1440px;
    height: 886px;
    left: 0px;
    background: radial-gradient(79.82% 119.73% at 86.74% 99.61%, #2F3C9E 0%, #253184 12.11%, #192364 29.95%, #11194D 47.22%, #0C1340 63.5%, #0A113B 77.78%, #151515 100%);
}

#section1-homepage-motto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;    
    position: absolute;
    width: 621px;
    height: 308px;
    left: 80px;
    top: 232px;
}
#section1-homepage-motto-text{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-items: center;
    justify-content: space-between;
    padding: 0px;    
    position: static;
    width: 621px;
    height: 184px;
    left: 0px;
    top: 0px;
}
#section1-homepage-motto-text>h1{
    
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    color: #FDFDFD;
    text-align:start;
    margin-bottom: 20px;
}

#section1-homepage-motto-text>p{
    width: 621px;
    height: 24px;
    left: 0px;
    top: 160px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FDFDFD;
}

#section1-homepage-motto-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 412px;
    height: 44px;
    left: 0px;
    top: 264px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 80px 0px;
}

#button-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 200px;
    height: 44px;  
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FDFDFD;
    background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 12px;
}
#button-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 200px;
    height: 44px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FDFDFD;
    background: transparent;
    border-radius: 8px;
    border: 2px solid #0EBD91 ;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
}

#homepagecoinstack {
    position: absolute;
    width: 852px;
    height: 886px;
    left: 588px;
    top: 0;
    z-index: 1;
}

#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 100%;
    min-width: 1440px;
    height: 624px;
    left: 0px;
    top: 870px;
}

#section2>h2 {
    position: absolute;
    top: 10px;
    font-family: ProximaNova-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FDFDFD;
}

#section2-boxes{
    position: relative;
    display: flex;
    justify-content: center;
    width: 1240px;
    height: 306px;
    left: 00px;
    
}

#section2background {
    position: absolute;
    width: 100%;
    min-width: 1440px;
    height: 624px;
    left: 0px;
    top: 87px;
}

#section2-box1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 400px;
    height: 276px;
    left: 00px;
    top: 0;
}
#getviraltokens {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    width: 104px;
    height: 104px;
    background: #F4F4F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 200px;
    top: -70px;
}
#getviraltokens-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 56px 40px 10px;
    position: absolute;
    width: 400px;
    height: 212px;
    
    top: 30px;   
    background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    color: #FDFDFD;
}
#getviraltokens-text>h4 {
    font-weight: bold;
}
#getviraltokens-text>p {
    text-align: center;
}

#section2-box2 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 400px;
    height: 276px;
    left: 420px;
    top: 0;
}
#createyourspace {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    width: 104px;
    height: 104px;
    background: #F4F4F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 200px;
    top: -70px;
}
#createyourspace-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 56px 40px 10px;
    position: absolute;
    width: 400px;
    height: 212px;
    
    top: 80px;   
    background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    color: #FDFDFD;
}
#createyourspace-text>h4 {
    font-weight: bold;
}
#createyourspace-text>p {
    text-align: center;
}

#section2-box3 {
    position: absolute;
    width: 400px;
    height: 276px;
    left: 840px;
    display: flex;
    justify-content: center;
}
#collaborate {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    width: 104px;
    height: 104px;
    background: #F4F4F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 200px;
    top: -70px;
    margin: 0px;
}
#collaborate-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 56px 40px 10px;
    position: absolute;
    width: 400px;
    height: 212px;
    
    top: 30px;   
    background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    color: #FDFDFD;
}
#collaborate-text>h4 {
    font-weight: bold;
}
#collaborate-text>p {
    text-align: center;
}

#section3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    min-width: 1440px;
    height: 640px;
    left: 0px;
    top: 1675px;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section3>h2 {
    font-family: ProximaNova-Bold;
    position: absolute;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #151515;
    top: 0;
}

#whyviralcrypto-box-title1, #whyviralcrypto-box-title2{
    width: 263px;
    height: 48px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    color: #FDFDFD;
    border: none;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

#whyviralcrypto-box-title1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
    top: -25px;
    left: 69px;
    background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
}

#whyviralcrypto-box-title2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;    
    left: 69px;
    background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
}

#whyviralcrypto-section1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 1240px;
    height: 300px;
    left: 0px;
    margin-bottom: 10px;
}
#whyviralcrypto-section2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1240px;
    height: 300px;
    left: 0px;
}

#whyviralcrypto-section1-box1,
#whyviralcrypto-section1-box2,
#whyviralcrypto-section1-box3,
#whyviralcrypto-section2-box1,
#whyviralcrypto-section2-box2,
#whyviralcrypto-section2-box3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 56px 40px 40px;
    width: 400px;
    height: 192px;
    background: #FDFDFD;
    border: 1px solid #F4F4F5;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #151515;
    margin: 0 40px 25px 0;
}

#whyviralcrypto-section1-box1{
    position: absolute;
    top: 100px;
    left: 0;
}
#whyviralcrypto-section1-box2{
    position: absolute;
    top: 150px;
    left: 420px;
}
#whyviralcrypto-section1-box3{
    position: absolute;
    top: 100px;
    left: 840px;
}
#whyviralcrypto-section2-box1{
    position: absolute;
    top: 100px;
    left: 0;
}
#whyviralcrypto-section2-box2{
    position: absolute;
    top: 150px;
    left: 420px;
}
#whyviralcrypto-section2-box3{
    position: absolute;
    top: 100px;
    left: 840px;
}

#section4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 100%;
    min-width: 1440px;
    height: 861px;
    left: 0px;
    top: 2450px;
}

#section4images{
    position: absolute;
    
    width: 100%;
    min-width: 1440px;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
}

#section4background {
    position: absolute;
    
    width: 100%;
    min-width: 1440px;
    top: 0;
    left: 0;
}
#section4greenblob {
    position: absolute;
    left: 50%;
    top: 205px;
    
}

#section4onramp{
    position: relative;
    width: 1198px;
    height: 595px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
}

#section4onramptext{
    position: absolute;
    top: 300px;
}
#section4onramptext>h2{
    font-family: ProximaNova-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #151515;
}
#section4onramptext>h3{
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #151515;
    width: 550px;
}

#onramper{
    position: absolute;
    left: 718px;
    top: 120px;
}

#section5background {
    position: absolute;    
    width: 100%;
    min-width: 1440px;
    top: 705px;
}
#section5 {
    position: absolute;
    width: 100%;
    min-width: 1440px;
    height: 640px;
    left: 0px;
    top: 3250px;
}
#section5>h2 {
    position: absolute;
    width: 360px;
    top: 150px;
    left: 566px;
    font-family: ProximaNova-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FDFDFD;
}
#section5block {
    position: absolute;
    top: 400px;
    left: 320px;
}
#section5swap{
    position: absolute;
    top: 250px;
    left: 440px;
}

#section6 {
    position: absolute;
    width: 100%;
    min-width: 1440px;
    height: 640px;
    left: 0px;
    top: 4420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section6>h2 {
    position: absolute;
    top: 0px;
    left: 525px;
    font-family: ProximaNova-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #151515;
}
#section6block {
    position: absolute;
    top: 400px;
    left: 76px;
}
#vcpartners{
    position: relative;
    left: 15px;
    top: 90px;
    width: 1208px;
    height: 560px;
}
#vcpartners>h3 {
    position: absolute;
    width: 718px;
    top: 0px;
    left: 0px;
    font-family: ProximaNova-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    text-align: left;
    color: #FDFDFD;
    left: 155px;
    top: 170px;
}
#prevPartner{
    position: absolute;
    top: 265px;
    left: 50px;
}
#nextPartner{
    position: absolute;
    top: 265px;
    left: 1127px ;
}
#section7 {
    position: absolute;
    width: 100%;
    min-width: 1440px;
    height: 640px;
    left: 0px;
    top: 5260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section7>h2 {
    position: absolute;
    top: 0;
    width: min-content;
    font-family: ProximaNova-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #151515;
}

#featuredProjects{
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#section8 {
    position: relative;
    width: 100%;
    min-width: 1440px;
    height: 840px;
    left: 0px;
    top: 5950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section8>h2 {
    position: absolute;
    top: 0;
    width: min-content;
    font-family: ProximaNova-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #151515;
}

#featuredProfiles{
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#showall-button1, #showall-button2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 220px;
    height: 44px;
    font-family: ProximaNova-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FDFDFD;
    background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.16);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 12px;
}

#showall-button1{
    position: absolute;
    top: 610px;
}
#showall-button2{
    position: absolute;
    top: 790px;
}

#section9 {
    position: absolute;
    width: 100%;
    min-width: 1440px;
    height: 670px;
    left: 0px;
    top: 7000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section9background{
    position: absolute;
    
    width: 100%;
    min-width: 1440px;
    top: 0;
}

#section9>h2 {
    position: absolute;
    top: 120px;
    width: min-content;
    font-family: ProximaNova-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #151515;
}
#section9contents{
    position: absolute;
    top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1268px;
    height: 600px;
}
#section9contents>h3 {
    width: 558px;
    height: 440px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #151515;
}

#section10{
    position: absolute;
    width: 100%;
    min-width: 1440px;
    height: 690px;
    left: 0px;
    top: 7920px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#section10background{
    position: absolute;
    
    width: 100%;
    min-width: 1440px;
    left: 0;
    top: 0;
}

#section10>h2 {
    position: absolute;
    top: 90px;
    font-family: ProximaNova-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FDFDFD;
    text-align: center;
}
#section10>h3 {
    position: absolute;
    text-align: center;
    top: 180px;
    width: 557px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #FDFDFD;
}

#section10-boxes{
    position: relative;
    width: 1240px;
    left: 050px;    
    top: 0px;
    left: 0;
}

#section10-box1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 400px;
    height: 276px;
    left: 00px;
    top: 0;
}
#vclabs1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    width: 104px;
    height: 104px;
    background: #F4F4F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 200px;
    top: -70px;
}
#section10-box1-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 56px 40px 10px;
    position: absolute;
    width: 400px;
    height: 212px;    
    top: 30px;   
    background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    color: #FDFDFD;
    text-align: center;
}

#section10-box2 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 400px;
    height: 276px;
    left: 420px;
    top: 0;
}

#vclabs2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    width: 104px;
    height: 104px;
    background: #F4F4F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 200px;
    top: -70px;
}
#section10-box2-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 56px 40px 10px;
    position: absolute;
    width: 400px;
    height: 212px;    
    top: 80px;   
    background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    color: #FDFDFD;
    text-align: center;
}

#section10-box3 {
    position: absolute;
    width: 400px;
    height: 276px;
    left: 840px;
    display: flex;
    justify-content: center;
}

#vclabs3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    width: 104px;
    height: 104px;
    background: #F4F4F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 200px;
    top: -70px;
    margin: 0px;
}
#section10-box3-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 56px 40px 10px;
    position: absolute;
    width: 400px;
    height: 212px;    
    top: 30px;   
    background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    color: #FDFDFD;
    text-align: center;
}



























@media only screen and (max-width: 600px) {
    .homepage-container {
        display: flex;
        width: 100%;
        min-width: 375px;
        height: 10410px;
        background: #FFFFFF;   
        flex-direction: column; 
    }
    
    #section1 {
        position: absolute;
        width: 100%;
        min-width: 375px;
        height: 1355px;
        top: 127px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: radial-gradient(79.82% 119.73% at 86.74% 99.61%, #2F3C9E 0%, #253184 12.11%, #192364 29.95%, #11194D 47.22%, #0C1340 63.5%, #0A113B 77.78%, #151515 100%);
    }
    
    #section1-homepage-motto{
        display: flex;
        width: 335px;
        height: 260px;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        top: 40px;
        left: 11px;
    }
    #section1-homepage-motto-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;    
        position: static;
        width: 335px;
        height: 176px;
        left: 0px;
        top: 0px;
        margin: 0;
    }
    #section1-homepage-motto-text>h1{        
        font-family: ProximaNova-bold;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        color: #FDFDFD;
        text-align:start;
        margin-bottom: 20px;
        text-align: center;
    }
    
    #section1-homepage-motto-text>p{
        width: 335px;
        height: 24px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FDFDFD;
    }
    
    #section1-homepage-motto-buttons{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0px;
        
        position: static;
        width: 335px;
        height: 44px;
        left: 0px;
        top: 264px;
        margin: 50px 0 0 0px;
    }
    
    #button-1 {
        width: 163px;
        height: 44px;  
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FDFDFD;
        background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
        border-radius: 8px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0;
    }
    #button-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        width: 163px;
        height: 44px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FDFDFD;
        background: transparent;
        border-radius: 8px;
        border: 2px solid #0EBD91 ;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px ;
    }
    
    #homepagecoinstack {
        position: relative;
        width: 428px;
        height: 444px;
        left: -35px;
        top: 310px;
        z-index: 1;
    }
    
    #section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-direction: column;
        width: 100%;
        min-width: 375px;
        height: 624px;
        left: 0px;
        top: 870px;
    }
    
    #section2>h2 {
        position: relative;
        top: 0px;
        font-family: ProximaNova-Bold;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: #FDFDFD;
    }
    
    #section2-boxes{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 335px;
        height: 676px;
        left: 00px;
        
    }
    
    #section2background {
        position: absolute;
        width: 100%;
        min-width: 375px;
        height: 146px;
        left: 0px;
        top: 611px;
    }
    
    #section2-box1 {
        display: flex;
        justify-content: center;
        position: relative;
        width: 335px;
        height: 160px;
        left: 00px;
        top: 0;
    }
    #getviraltokens {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
        width: 80px;
        height: 80px;
        background: #F4F4F5;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 200px;
        top: -50px;
    }
    #getviraltokens-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 40px 40px 15px;
        position: absolute;
        width: 335px;
        height: 160px;        
        top: 10px;
        background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        color: #FDFDFD;
    }
    #getviraltokens-text>h4,#createyourspace-text>h4, #collaborate-text>h4 {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
        top: 20px;
    }
    #getviraltokens-text>p, #createyourspace-text>p,     #collaborate-text>p {
        text-align: center;        
        font-size: 14px;
        line-height: 20px;
        width: 287px;
        margin-bottom: 0;

    }
    
    #section2-box2 {
        display: flex;
        justify-content: center;
        position: relative;
        width: 335px;
        height: 160px;
        left: 0px;
        top: 0;
    }
    #createyourspace {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px;
        width: 80px;
        height: 80px;
        background: #F4F4F5;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 200px;
        top: -50px;
    }
    #createyourspace-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 40px 40px 15px;
        position: absolute;
        width: 335px;
        height: 160px;      
        top: 70px;   
        background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        color: #FDFDFD;
    }
    
    #section2-box3 {
        position: relative;
        width: 335px;
        height: 160px;
        left: 0px;
        display: flex;
        justify-content: center;
    }
    #collaborate {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px;
        width: 80px;
        height: 80px;
        background: #F4F4F5;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 200px;
        top: -50px;
    }
    #collaborate-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 40px 40px 15px;
        position: absolute;
        width: 335px;
        height: 160px;            
        top: 130px;   

        background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        color: #FDFDFD;
    }
    #collaborate-text>h4 {
        font-weight: bold;
    }
    #collaborate-text>p {
        text-align: center;
    }
    
    #section3{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        width: 100%;
        min-width: 375px;
        height: 640px;
        left: 0px;
        top: 1675px;
        
    }
    
    #section3>h2 {
        font-family: ProximaNova-Bold;
        position: relative;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: #151515;
        top: 0;
    }
   
    
    #whyviralcrypto-box-title1, #whyviralcrypto-box-title2{
        width: 250px;
        height: 48px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        color: #FDFDFD;
        border: none;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    
    #whyviralcrypto-box-title1{
        font-size: 18px;
        font-family: ProximaNova;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;    
        top: -25px;
        left: 42px;
        background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
    }
    
    #whyviralcrypto-box-title2{
        font-size: 18px;
        font-family: ProximaNova;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;    
        top: -25px;
        left: 42px;
        background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
    }
    
    #whyviralcrypto-section1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 375px;
        height: 888px;
        left: 0px;
        margin-bottom: 10px;
        padding-left: 0px;
    }
    #whyviralcrypto-section2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 375px;
        height: 888px;
        left: 0px;
        top: 130px;
        margin-bottom: 10px;
        padding-left: 0px;
    }
    
    #whyviralcrypto-section1-box1,
    #whyviralcrypto-section1-box2,
    #whyviralcrypto-section1-box3,
    #whyviralcrypto-section2-box1,
    #whyviralcrypto-section2-box2,
    #whyviralcrypto-section2-box3 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 40px 40px;
        width: 335px;
        height: 152px;
        background: #FDFDFD;
        border: 1px solid #F4F4F5;
        box-sizing: border-box;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #151515;
        margin: 0 0px 15px 0px;
    }
    
    #whyviralcrypto-section1-box1{
        position: relative;
        top: 50px;
        left: 0;
    }
    #whyviralcrypto-section1-box2{
        position: relative;
        top: 80px;
        left: 0;
    }
    #whyviralcrypto-section1-box3{
        position: relative;
        top: 110px;
        left: 0;
    }
    #whyviralcrypto-section2-box1{
        position: relative;
        top: 0px;
        left: 0;
    }
    #whyviralcrypto-section2-box2{
        position: relative;
        top: 30px;
        left: 0;
    }
    #whyviralcrypto-section2-box3{
        position: relative;
        top: 60px;
        left: 0;
    }
    
    #section4 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        flex-direction: column;
        width: 100%;
        min-width: 375px;
        height: 1318px;
        left: 0px;
        top: 2990px;
        background: radial-gradient(79.82% 119.73% at 86.74% 99.61%, #2F3C9E 0%, #253184 12.11%, #192364 29.95%, #11194D 47.22%, #0C1340 63.5%, #0A113B 77.78%, #151515 100%);
    }
    
    #section4images{
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        min-width: 335px;
    }
    
    #section4background {
        position: absolute;
        top: -30px;
        left: -311px;
        
        height: 700px;
    }
    #section4greenblob {
        position: absolute;
        left: -30px;
        top: 454px;
        height: 400px;
        width: 420px;
        
    }
    
    #section4onramp{
        position: relative;
        width: 335px;
        height: 760px;
        left: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    #section4onramptext{
        position: absolute;
        top: 00px;
        width: 335px;
    }
    #section4onramptext>h2{
        font-family: ProximaNova-Bold;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: #151515;
        text-align: center;
        margin-bottom: 0;
    }
    #section4onramptext>h3{
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #151515;
        width: 335px;
        text-align: center;

    }
    
    #onramper{
        position: absolute;
        left: 0px;
        top: 120px;
        width: 335px;
        margin-top: 25px;
    }
    
    #section5background {
        position: absolute;
        top: 1286px;
        width: 100%;
        min-width: 375px;
        height: 373px;
    }
    #section5 {
        position: absolute;
        width: 100%;
        min-width: 375px;
        height: 640px;
        left: 0px;
        top: 3864px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #section5>h2 {
        position: relative;
        width: 375px;
        top: 0px;
        left: 0px;
        font-family: ProximaNova-Bold;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: #FDFDFD;
        text-align: center;
    }
    #section5block {
        visibility: hidden;
    }
    #section5swap{
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
    }
    
    #section6 {
        position: absolute;
        width: 100%;
        min-width: 375px;
        height: 640px;
        left: 0px;
        top: 4655px;        
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #section6>h2 {
        position: relative;
        width: 375px;
        top: 0px;
        left: 0px;
        font-family: ProximaNova-Bold;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #151515;
    }
    #section6block {
        position: absolute;
        top: 270px;
        left: -30px;
        height: 347px;
    }
    #kyubi{
        height: 550px;
    }
    #vcpartners{
        position: relative;
        left: 0px;
        top: 50px;
        width: 315px;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        border-radius: 20px;
        background: black;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    #vcpartners>h3 {
        position: absolute;
        width: 255px;
        top: 0px;
        left: 0px;
        font-family: ProximaNova-Bold;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        text-align: left;
        color: #FDFDFD;
        left: 20px;
        top: 170px;
    }
    #prevPartner{
        position: absolute;
        top: 415px;
        left: 10px;
        width: 45px;
        height: 45px;
    }
    #nextPartner{
        position: absolute;
        top: 415px;
        left: 257px ;        
        width: 45px;
        height: 45px;
    }
    #section7 {
        position: absolute;
        width: 100%;
        min-width: 375px;
        height: 640px;
        left: 0px;
        top: 5280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #section7>h2 {
        position: relative;
        width: 375px;
        top: 0px;
        left: 0px;
        font-family: ProximaNova-Bold;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #151515;
    }
    
    #featuredProjects{
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 400px);
        gap: 20px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 25px;
    }
    
    #section8 {
        position: relative;
        width: 100%;
        min-width: 375px;
        height: 640px;
        left: 0px;
        top: 1670px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #section8>h2 {
        position: relative;
        width: 375px;
        top: 0px;
        left: 0px;
        font-family: ProximaNova-Bold;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #151515;
    }
    
    #featuredProfiles{
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 400px);
        gap: 30px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 25px;
    }
    #showall-button1, #showall-button2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        width: 220px;
        height: 44px;
        font-family: ProximaNova-bold;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #FDFDFD;
        background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
        border-radius: 8px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.16);
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 12px;
        position: relative;
    }
    
    #showall-button1{
        position: relative;
        top: 30px;
    }
    #showall-button2{
        position: relative;
        top: 30px;
    }
    
    #section9 {
        position: absolute;
        width: 100%;
        min-width: 375px;
        height: 670px;
        left: 0px;
        top: 8800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    #section9background{
        position: absolute;
        top: 0;
        height: 680px;
    }
    
    #section9>h2 {
        position: relative;
        width: 375px;
        top: 0px;
        left: 0px;
        font-family: ProximaNova-Bold;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #151515;
        margin-top: 70px;
    }
    #section9contents{
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 1268px;
        height: 600px;
        margin-top: 110px;
    }
    #section9contents>h3 {
        width: 335px;
        height: 440px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #151515;
        text-align: center;
    }

    #section9graphic{
        width: 335px;
    }
    
    #section10{
        position: absolute;
        width: 100%;
        min-width: 375px;
        height: 1060px;
        left: 0px;
        top: 9479px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: radial-gradient(79.82% 119.73% at 86.74% 99.61%, #2F3C9E 0%, #253184 12.11%, #192364 29.95%, #11194D 47.22%, #0C1340 63.5%, #0A113B 77.78%, #151515 100%);

    }
    #section10background{
        position: absolute;
        top: 0;
        
        width: 100%;
        min-width: 375px;
    }
    
    #section10>h2 {
        position: relative;
        width: 375px;
        top: 0px;
        left: 0px;
        font-family: ProximaNova-Bold;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FDFDFD;
        margin-top: 70px;
    }
    #section10>h3 {
        width: 335px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #151515;
        text-align: center;
        color: #FDFDFD;
        position: relative;
        top: 0;
    }
    
    #section10-boxes{
        position: relative;
        width: 375px;
        left: 0px;    
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 50px;
    }
    
    #section10-box1 {
        display: flex;
        justify-content: center;
        position: relative;
        width: 375px;
        height: 276px;
        left: 00px;
        top: 0;
    }
    #vclabs1 {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
        width: 104px;
        height: 104px;
        background: #F4F4F5;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 200px;
        top: -70px;
    }
    #section10-box1-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 40px 20px 10px;
        position: absolute;
        width: 335px;
        height: 160px;    
        top: 30px;   
        background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        color: #FDFDFD;
        text-align: center;
    }
    
    #section10-box2 {
        display: flex;
        justify-content: center;
        position: relative;
        width: 375px;
        height: 276px;
        left: 0px;
        top: 0;
    }
    
    #vclabs2 {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px;
        width: 104px;
        height: 104px;
        background: #F4F4F5;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 200px;
        top: -70px;
    }
    
    #section10-box2-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 40px 20px 10px;
        position: absolute;
        width: 335px;
        height: 160px;  
        top: 25px;   
        background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        color: #FDFDFD;
        text-align: center;
    }
    
    #section10-box3 {
        position: relative;
        width: 375px;
        height: 276px;
        left: 0px;
        display: flex;
        justify-content: center;
    }
    
    #vclabs3 {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px;
        width: 104px;
        height: 104px;
        background: #F4F4F5;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 200px;
        top: -70px;
        margin: 0px;
    }
    #section10-box3-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;        
        padding: 40px 20px 10px;
        position: absolute;
        width: 335px;
        height: 160px;  
        top: 30px;   
        background: linear-gradient(152.95deg, #19AEA5 32.2%, #18D099 93.13%);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        color: #FDFDFD;
        text-align: center;
    }
}