#tokenSwap-container{
    height: 720px;
    width: 575px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;
    padding: 40px;
    background: #FDFDFD;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 250px;
    left: unset;
}

#tokenSwap-chain-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#tokenSwap-chain{
    height: 104px;
    width: 104px;
    padding: 24px;
    background: #F4F4F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
}
#tokenSwap-chain:hover{
    transform: scale(1.1);
    background: #F4F4F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.32);
    cursor: pointer;
}
#tokenSwap-tokenlogo-info{
    height: 40px;
    width: 40px;
    padding: 2px;
    background: #F4F4F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
    border-radius: 10px;    
}

#tokenSwap-input-container{
    margin-bottom: 32px;
}
#tokenSwap-input-container>p{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;    
    color: #373738;
    margin-bottom: 12px;
}


  
  #tokenSwap-input{
    margin: 15px 0;
    width: 480px;
    position: relative;
  }
  
  #tokenSwap-inputAmount {
    resize: none;  
    display: block;
    width: 480px;
    height: 58px;
    padding: 14px 16px 12px;
    border: 1px solid #E7E7E8;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #9E9E9F; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 32px;
}
  
  #tokenSwap-inputAmount:focus {
    outline: 4px solid #5ded9b7e;
    border-radius: 8px;
  }

  #tokenSwap-input-top{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 58px;
    margin: 0;
    border-radius: 8px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #FDFDFD;
    border: none;
    background: #373738;
    padding: 13px 20px;
  }



#tokenSwap-tokenlogo{
    height: 32px;
    width: 32px;
}
#tokenSwap-swapandapprove{
    display: flex;
    justify-content: space-between;
    width: 488px;
    margin-bottom: 32px;
}
#tokenSwap-tokenlinks{
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-bottom: 16px;
}
#tokenSwap-information{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 15px;
    flex-direction: column;
}
#tokenSwap-information>p{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;    
    color: #373738;
    margin-bottom: 12px;
    
}
#tokenSwap-button1{    
    width:  238px;
    height: 48px;
    background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
    border-radius: 8px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FDFDFD;
    border: none;
    position: unset;
}

#tokenSwap-button1:hover{ 
    color: black;
    background: white;
    border: 3px solid  #0EBD91 ;
}
#tokenSwap-button2{    
    width:  158px;
    height: 42px;
    background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
    border-radius: 8px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FDFDFD;
    border: none;
    position: unset;
}

#tokenSwap-button2:hover{ 
    color: black;
    background: white;
    border: 3px solid  #0EBD91 ;
}

#tokenSwap-button3{    
    width:  158px;
    height: 42px;
    background: linear-gradient(152.95deg, #ebdd21 32.2%, #f5ce20 93.13%);
    border-radius: 8px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    border: none;
    position: unset;
}

#tokenSwap-button3:hover{ 
    color: black;
    background: white;
    border: 3px solid  #f5ce20  ;
}
#etherscanlogo{
    height: 24px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    #tokenSwap-container{
        height: 715px;
        width: 375px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: flex-start;
        padding: 40px 30px;
        background: #FDFDFD;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
        position: absolute;
        top: 80px;
        left: unset;
    }
    
    #tokenSwap-chain-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    #tokenSwap-chain{
        height: 72px;
        width: 72px;
        padding: 10px;
        background: #F4F4F5;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
    }
    #tokenSwap-tokenlogo-info{
        height: 40px;
        width: 40px;
        padding: 5px;
        background: #F4F4F5;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
    }
    
    #tokenSwap-input-container{
        margin-bottom: 16px;
        width: 335px;
    }
    #tokenSwap-input-container>p{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;    
        color: #373738;
        margin-bottom: 5px;
    }
    
    
      
      #tokenSwap-input{
        margin: 10px 0;
        width: 335px;
        position: relative;
      }
      
      #tokenSwap-inputAmount {
        resize: none;  
        display: block;
        width: 335px;
        height: 58px;
        padding: 14px 16px 12px;
        border: 1px solid #E7E7E8;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #9E9E9F; 
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin-bottom: 16px;
    }
      
      #tokenSwap-inputAmount:focus {
        outline: 4px solid #5ded9b7e;
        border-radius: 8px;
      }
    
      #tokenSwap-input-top{
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: 58px;
        margin: 0;
        border-radius: 8px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: #FDFDFD;
        border: none;
        background: #373738;
        padding: 13px 20px;
      }
    
    
    
    #tokenSwap-tokenlogo{
        height: 32px;
        width: 32px;
    }
    #tokenSwap-swapandapprove{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 335px;
        margin-bottom: 16px;
    }
    #tokenSwap-tokenlinks{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 176px;
        margin-bottom: 16px;
        position: relative;
        bottom: -12px;
    }
    #tokenSwap-information{
        position: absolute;
        display: flex;
        bottom: 0;
        left: 15px;
       flex-direction: row;
    }
    #tokenSwap-information>p{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;    
        color: #373738;
        margin-bottom: 12px;
        position: absolute;
        top: -12px;
        
    }
    #tokenSwap-button1{    
        width:  335px;
        height: 48px;
        background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
        border-radius: 8px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FDFDFD;
        border: none;
        position: unset;
        margin-bottom: 10px;
    }
    
    #tokenSwap-button1:hover{ 
        color: black;
        background: white;
        border: 3px solid  #0EBD91 ;
    }
    #tokenSwap-button2{        
        width:  156px;
        height: 42px;
        background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
        border-radius: 8px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FDFDFD;
        border: none;
        position: unset;
        margin-bottom: 10px;
    }
    
    #tokenSwap-button2:hover{ 
        color: black;
        background: white;
        border: 3px solid  #0EBD91 ;
    }
    #tokenSwap-button3{        
        width:  156px;
        height: 42px;
        background: linear-gradient(152.95deg, #ebdd21 32.2%, #f5ce20 93.13%);
        border-radius: 8px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: black;
        border: none;
        position: unset;
        margin-bottom: 10px;
    }
    
    #tokenSwap-button3:hover{ 
        color: black;
        background: white;
        border: 3px solid  #0EBD91 ;
    }
    #etherscanlogo{
        height: 24px;
        margin-right: 10px;
    }
}