.chat-background {
  display: flex;
  justify-content: center;
  height: 93vh;
  width: 100%;
  background-color: rgb(32, 32, 32);
  backdrop-filter: blur(5px);
  z-index: 1;
}
.chat-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 93vh;
}

.chat-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  border: 1px solid rgba(83, 83, 83, 0.1);
  border-top: none;
  background: transparent;
}

.chat-messaging-header-left-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-bottom: 1px solid rgba(39, 39, 39);
  color: white;
  background: rgba(220, 220, 220, 0.095);
  width: 80%;
}

.chat-messaging-header-left button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 2rem;
  margin: 1rem 0;
  padding: 0.3rem 0.5rem;
  border-radius: 0.15rem;
  background: dodgerblue;
}

.chat-messaging-header-left h5 {
  display: flex;
  align-items: center;
  height: 1rem;
  margin-bottom: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.chat-messaging-header-right h5 {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-bottom: 0;
}

.chat-messaging-header-left button {
  box-shadow: 0 6px 10px rgba(39, 39, 39, 0.17);
}

.chat-messaging-header-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  border-bottom: 1px solid rgba(39, 39, 39);
  width: 100%;
  color: white;
  background: rgba(220, 220, 220, 0.095);
}

.header-left-btn-req {
  position: relative;
}

.header-left-btn-req .numRequests {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  top: -0.3rem;
  right: -0.5rem;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 0.9rem;
}
.chat-messaging-header-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 3rem;
  border-bottom: 1px solid rgba(39, 39, 39);
  width: 100%;
  padding-left: 1rem;
  color: white;
  background: rgba(220, 220, 220, 0.317);
}

.show-chat-sidebar {
  width: 25%;
  margin: 0.2rem 1rem;
}

.show-chat-sidebar-btn {
  padding: 0.5rem 1rem;
  box-shadow: 0 6px 20px rgb(61 61 61 / 17%);
  width: 100%;
  max-width: 15rem;
  border: 1px solid rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  outline: none;
}

.chat-messaging-sidebar-content {
  width: 100%;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: rgba(220, 220, 220, 0.317);
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.chat-messaging {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
}

.chat-messaging-content-container {
  display: flex;
  min-height: 88%;
  height: 88%;
  background: white;
  justify-content: center;
  align-items: flex-end;
}

.chat-messaging-content-messageList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0.2rem;
}

.chat-messaging-content-message-wrapper::-webkit-scrollbar {
  display: none;
}
.chat-messaging-content-message-wrapper {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-messaging-content-messageLoaded {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: max-content;
  margin-left: 5px;
}

.chat-messaging-content-message {
  display: flex;
}

.chat-messaging-content-profilePic-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.chat-messaging-content-profilePic {
  height: 2.2rem;
  width: auto;
  border-radius: 50%;
  margin-right: 0.5rem;
  box-shadow: 0 4px 10px rgba(39, 39, 39, 0.27);
}
.chat-messaging-content-message-text {
  background: rgb(225, 225, 225);
  width: 100%;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 3px 7px rgba(39, 39, 39, 0.17);
}

.chat-messaging-content-message-text p {
  margin-bottom: 0;
}

.chat-messaging-content-message-time {
  display: flex;
  justify-content: flex-end;
}
.chat-messaging-content-message-time p {
  font-size: 0.7rem;
}

.chat-messaging-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
  padding: 0 0.5rem 0;
  height: calc(12% - 3rem);
  background: white;
}

.rich-text-chat{
  object-fit: contain;  
  height: 100%;
  width: 70%;
}

.ck.ck-editor_main {
  height: 5rem;
}

.chat-messaging-reply-text {
  height: 70%;
  width: 70%;
  border-radius: 2rem;
  border-width: 2px;
  text-indent: 1rem;
  border-color: rgb(72, 148, 255);
  border-style: outset;
  color: black;
}
.chat-messaging-reply-button:hover {
  cursor: pointer;
}
.chat-messaging-reply-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: dodgerblue;
  color: white;
  border-radius: 50%;
  margin-left: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.chat-messaging-trash-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: firebrick;
  color: white;
  border-radius: 50%;
  margin-left: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.fas.fa-paper-plane {
  font-size: 1rem;
}

.chat-messaging-sidebar-from {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pmc-container:hover {
  box-shadow: 0 0px 10px rgba(193, 193, 193, 0.7);
}

.chat-messaging-profiles {
  width: 100%;
  margin: 0.3rem 0;
}
.chat-messaging-welcome-user h5 {
  margin-bottom: 0;
}
.chat-messaging-welcome-user {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.chat-messaging-welcome-user-profilePic {
  height: 2.5rem;
  width: auto;
  border-radius: 50%;
  margin-right: 0.5rem;
  box-shadow: 0 6px 10px rgba(39, 39, 39, 0.37);
}
.chat-messaging-footer-request-options {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
.chat-messaging-footer-request-options button {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  box-shadow: 0 6px 10px rgba(39, 39, 39, 0.17);
}

.pmc-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  height: 4rem;
  justify-content: space-between;
  width: 100%;
  border: 1px solid lightslategray;
  border-radius: 0.2rem;
}

.pmc-profilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  min-width: 56px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0.2rem;
}

.pmc-profilePic > img {
  height: 56px;
  width: 56px;
  object-fit: cover;
}

.pmc-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0.2rem;
  width: 100%;
}

.pmc-body h5 {
  font-size: 0.9rem;
  margin: 0.1rem;
}
.pmc-body p {
  font-size: 0.65rem;
  margin-bottom: 0;
}

.pmc-updatedAt {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.pmc-updatedAt h5 {
  font-size: 0.55rem;
}

@media only screen and (max-width: 850px) {
  .chat-messaging-header-left {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 0.5rem;
  }

  .chat-messaging-sidebar-content {
    padding: 1rem 0.3rem;
  }

  .pmc-body p,
  .pmc-updatedAt {
    display: none;
  }

  .pmc-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
  }

  .pmc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .pmc-profilePic {
    height: 48px;
    min-width: 48px;
  }

  .pmc-profilePic img {
    height: 48px;
    width: auto;
    object-fit: cover;
  }

  .btn2.header-left-btn-msg {
    margin: 0.5rem 0 0 0;
    width: 80%;
  }
  .btn2.header-left-btn-req {
    margin: 0.6rem 0 0 0;
    width: 80%;
  }
  .btn2.header-left-btn-msg h5,
  .btn2.header-left-btn-req h5 {
    font-size: 1rem;
  }

  .chat-messaging-welcome-user h5,
  .chat-messaging-header-right h5,
  .chat-messaging-content-message-text p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 550px) {
  .chat-messaging-content-container {
    height: 91%;
  }
  .chat-container {
    flex-direction: column;
  }
  .chat-sidebar {
    width: 100%;
    position: sticky;
    top: 4rem;
    background: rgb(56, 56, 56);
  }
  .chat-messaging {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
  }
  .chat-messaging-header-left {
    flex-direction: row;
  }

  .btn2.header-left-btn-msg,
  .btn2.header-left-btn-req {
    width: 40%;
    margin: 0.5rem 0.5rem 0 0.5rem;
    height: 2.5rem;
  }

  .chat-messaging-header-right {
    display: none;
  }

  .chat-messaging-footer {
    padding: 0 0.5rem 0;
    height: 9%;
    position: sticky;
    bottom: 0;
  }

  .chat-messaging-sidebar-content {
    z-index: 1;
    background: rgba(84, 84, 84, 0.95);
    height: auto;
    min-height: 0.1rem;
  }

  .chat-messaging-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pmc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
    height: 3.5rem;
    width: 80%;
    border: 1px solid lightslategray;
    border-radius: 0.2rem;
    box-shadow: 0 6px 10px rgba(39, 39, 39, 0.17);
  }

  .pmc-profilePic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }

  .pmc-profilePic > img {
  }

  .pmc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0.2rem;
    width: auto;
  }

  .pmc-body h5 {
    font-size: 0.9rem;
    margin: 0.1rem;
  }
  .pmc-body p {
    display: flex;
    font-size: 0.65rem;
    margin-bottom: 0;
  }

  .pmc-updatedAt {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .pmc-updatedAt h5 {
    font-size: 0.55rem;
  }
}
