.createProject-background {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 3200px;
  width: 100%;
  min-width: 1440px;
  background-color: rgba(21, 21, 21, 0.4);
  backdrop-filter: blur(12px);
  z-index: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: 20px;
  margin: 0;
  padding: 40px;
  width: 560px;
  height: min-content;
  background-color: #FDFDFD;
  transform: translateY(7rem);
  box-shadow: 0px 5px 10px rgba(2, 2, 2, 0.2);
}

.form {
  padding: 2rem;
}

.form-header {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.form-header > .menu-title {
  font-family: ProximaNova-bold;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #151515;
  width: 236px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}

#exitMenu{
  height: 32px;
  width: 32px;
}
#exitMenu:hover{
  cursor: pointer;

}

.form-wrapper {
  margin: 0;
  padding: 0;
  width: 480px;
  height: auto;
}

.form-photo-wrapper {
  margin: 0 0 20px 0;
}

#project-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 20px;
  padding: 0;
  width: 480px;
  height: 240px;
  object-fit: contain;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0px 5px 7px rgb(2 2 2 / 20%);
}

#project-pic-thumnail-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  height: 80px;
  margin-top: 10px;
}
#project-pic-thumnail-container>img{
  height: 80px;
  width: 150px;
  border-radius: 8px;
  object-fit: contain;
  background-color: #F4F4F5;
  box-shadow: 0px 5px 7px rgb(2 2 2 / 20%);
  overflow: hidden;
}
#project-pic-thumnail-container>img:hover{
  transform: scale(1.1);
  cursor: pointer;
  outline: 4px solid #5ded9b4e;
}

#editproject-thumbnailprompt{
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

.project-pic {
  object-fit: contain;
  background-color: #F4F4F5;
  border-radius: 20px;
  width: 480px;
  height: 240px;
}
.project-pic2 {
  object-fit: none;
  background-color: #F4F4F5;
  border-radius: 20px;
  width: 480px;
  height: 240px;
}

#createProject-launchStatus{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#createProject-launchStatus>p{
  font-family: ProximaNova;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  margin-bottom: 8px;
}
#createProject-launchStatus-option{
  margin: 8px 0;
  display: flex;
  align-items: center;
}
#createProject-launchStatus-option>p{
  margin:  0;
  display: flex;
  align-items: center;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: normal;

  font-size: 16px;
  line-height: 20px;
  display: flex;
}

#indevelopment{
  height: 24px;
  width: 24px;
  margin: 0;
  margin-right: 16px;

}

#editProject-blockchainlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: min-content;
  margin-bottom: 25px;
}
#editProject-blockchainlist>label>img{
  height: 64px;
  margin: 20px 20px 0 0;
}

#editProject-blockchain-logo{
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0px 5px 7px rgb(2 2 2 / 15%);
  transform: scale(1.2);
  background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
}
#editProject-blockchainlist>label>img:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#editProject-blockchainlist > label > input {
  display: none;
}

#createProject-aboutProject{
  font-family: ProximaNova;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  margin: 15px 0 10px 0;
}

#createProject-formInput{
  margin: 24px 0;
  width: 531px;
  position: relative;
}

#createProject-formInput-description{
  margin: 12px 0;
  width: 531px;
  position: relative;
}


#createProject-formInput-text {
  resize: none;  
  display: block;
  width: 480px;
  padding: 14px 16px 12px;
  border: 1px solid #E7E7E8;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #9E9E9F; 
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  flex-wrap: wrap;
}

#createProject-socialInput{
  display: block;
  width: 480px;
  padding: 14px 16px 12px;
  border: 1px solid #E7E7E8;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #9E9E9F; 
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#createProject-social-text{

}

#createProject-social {
  display: flex;
  height: 48px;
  width: 480px;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  background: white;
  border: 1px solid #E7E7E8;
  border-radius: 8px;
}

#createProject-social-icon {    
  display: flex;
  align-items: center;
  padding: 1px 15px;
  background-color: white;
}

#createProject-social-text {
  border: none;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  height: 100%;
  width: 100%;
}
#createProject-social-text:focus {

  outline: 4px solid #5ded9b7e;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#createProject-formInput-text:focus {
  outline: 4px solid #5ded9b7e;
  border-radius: 8px;
}

#createProject-formInput-title{
  position: absolute;
  top: -12px;
  left: 16px;
}

#createProject-formInput-title-description{
  padding-left: 16px;
}

#reviewTitle-label>p{
  font-family: ProximaNova-bold;
}

.ck.ck-editor{
  width: 480px;
  margin: 12px 0;
}

.form-button-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#createProject-button-submit,#createProject-button-close,#createProject-button-delete{
  width: 480px;
  height: 44px;
  margin: 7px 0;
  border-radius: 8px;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FDFDFD;
  border: none;
}
#createProject-button-submit{
  background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
}
#createProject-button-close{
  background: linear-gradient(152.95deg, darkgrey, rgb(81, 81, 81));
}
#createProject-button-delete{
  background: linear-gradient(152.95deg, rgb(255, 81, 0), rgb(189, 0, 0));
}


.create-project-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.submit-form {
  padding: 0.5rem 1rem;
  box-shadow: 0 6px 20px rgb(61 61 61 / 17%);
  width: 100%;
  max-width: 15rem;
  margin: 1rem 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  outline: none;
  margin: 1rem;
}

.verify-delete-popup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}











@media only screen and (max-width: 1300px) {
  .createProject-background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 3000px;
    width: 100%;
    min-width: 375px;
    background-color: rgba(21, 21, 21, 0.4);
    backdrop-filter: blur(12px);
    z-index: 1;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin: 0;
    padding: 40px;
    width: 365px;
    height: min-content;
    background-color: #FDFDFD;
    transform: translateY(7rem);
    box-shadow: 0px 5px 10px rgba(2, 2, 2, 0.2);
  }
  
  .form {
    padding: 2rem;
  }
  
  .form-header {
    display: flex;
    justify-content: space-between;
    width: 335px;
  }
  
  .form-header > .menu-title {
    font-family: ProximaNova-bold;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #151515;
    width: 236px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
  }
  
  #exitMenu{
    height: 32px;
    width: 32px;
  }
  #exitMenu:hover{
    cursor: pointer;
  
  }
  
  .form-wrapper {
    margin: 0;
    padding: 0;
    width: 335px;
    height: auto;
  }
  
  .form-photo-wrapper {
    margin: 0 0 20px 0;
  }
  
  #project-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    padding: 0;
    width: 335px;
    height: 200px;
    object-fit: contain;
    overflow: hidden;
    margin-top: 20px;
  }

  #project-pic-thumnail-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 335px;
    height: 80px;
    margin-top: 10px;
  }
  #project-pic-thumnail-container>img{
    height: 70px;
    width: 100px;
    border-radius: 8px;
    object-fit: contain;
    background-color: #F4F4F5;
    box-shadow: 0px 5px 7px rgb(2 2 2 / 20%);
    overflow: hidden;
  }
  #project-pic-thumnail-container>img:hover{
    transform: scale(1.1);
    cursor: pointer;
    outline: 4px solid #5ded9b4e;
  }
  
  #editproject-thumbnailprompt{
    text-align: center;
    width: 100%;
    margin-top: 5px;
  }
  
  .project-pic {
    object-fit: contain;
    background-color: #F4F4F5;
    border-radius: 20px;
    width: 335px;
    height: 200px;
  }
  
  #createProject-launchStatus{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #createProject-launchStatus>p{
    font-family: ProximaNova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    margin-bottom: 8px;
  }
  #createProject-launchStatus-option{
    margin: 8px 0;
    display: flex;
    align-items: center;
  }
  #createProject-launchStatus-option>p{
    margin:  0;
    display: flex;
    align-items: center;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
  
    font-size: 16px;
    line-height: 20px;
    display: flex;
  }
  
  #indevelopment{
    height: 24px;
    width: 24px;
    margin: 0;
    margin-right: 16px;
  
  }

  #editProject-blockchainlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: min-content;
    margin-bottom: 25px;
  }
  #editProject-blockchainlist>label>img{
    height: 48px;
    margin: 20px 20px 0 0;
  }
  
  #createProject-aboutProject{
    font-family: ProximaNova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    margin: 15px 0 10px 0;
  }
  
  #createProject-formInput{
    margin: 24px 0;
    width: 335px;
    position: relative;
  }
  
  #createProject-formInput-description{
    margin: 12px 0;
    width: 335px;
    position: relative;
  }
  
  
  #createProject-formInput-text {
    resize: none;  
    display: block;
    width: 335px;
    padding: 14px 16px 12px;
    border: 1px solid #E7E7E8;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #9E9E9F; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  #createProject-socialInput{
    display: block;
    width: 335px;
    padding: 14px 16px 12px;
    border: 1px solid #E7E7E8;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #9E9E9F; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  #createProject-social-text{
  
  }
  
  #createProject-social {
    display: flex;
    height: 48px;
    width: 335px;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    background: white;
    border: 1px solid #E7E7E8;
    border-radius: 8px;
  }
  
  #createProject-social-icon {    
    display: flex;
    align-items: center;
    padding: 1px 15px;
    background-color: white;
  }
  
  #createProject-social-text {
    border: none;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    height: 100%;
    width: 100%;
  }
  #createProject-social-text:focus {
  
    outline: 4px solid #5ded9b7e;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  #createProject-formInput-text:focus {
    outline: 4px solid #5ded9b7e;
    border-radius: 8px;
  }
  
  #createProject-formInput-title{
    position: absolute;
    top: -12px;
    left: 16px;
  }
  
  #createProject-formInput-title-description{
    padding-left: 16px;
  }
  
  #reviewTitle-label>p{
    font-family: ProximaNova-bold;
  }
  
  .ck.ck-editor{
    width: 335px;
    margin: 12px 0;
  }
  
  .form-button-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  #createProject-button-submit,#createProject-button-close,#createProject-button-delete{
    width: 335px;
    height: 44px;
    margin: 7px 0;
    border-radius: 8px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FDFDFD;
    border: none;
  }
  #createProject-button-submit{
    background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
  }
  #createProject-button-close{
    background: linear-gradient(152.95deg, darkgrey, rgb(81, 81, 81));
  }
  #createProject-button-delete{
    background: linear-gradient(152.95deg, rgb(255, 81, 0), rgb(189, 0, 0));
  }
  
  
  .create-project-socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  
  .submit-form {
    padding: 0.5rem 1rem;
    box-shadow: 0 6px 20px rgb(61 61 61 / 17%);
    width: 100%;
    max-width: 15rem;
    margin: 1rem 0 0 0;
    border: 1px solid rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    border-radius: 0.3rem;
    outline: none;
    margin: 1rem;
  }
  
  .verify-delete-popup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}