.background-homepage {
  display: flex;
  height: 100%;
}

.byMoralis {
  margin: 4rem 0 3rem 0;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.hero-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.homepage-welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 5rem;
  width: 80%;
}

.homepage-welcome > h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  color: rgb(219, 255, 238);
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 2px 3px 3px black;
  animation: mymove 5s infinite;
}

.homepage-welcome > h2 {
  font-size: 3.5rem;
  animation: mymove 5s infinite;
  text-align: center;
}
.homepage-welcome > p {
  font-size: 1.5rem;
  text-align: center;
}

.hero-text {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  margin-top: 24px;
  width: 100%;
}

.hero-btns {
  margin-top: 20px;
}

.homepage-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.homepage-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  width: 40%;
  max-width: 15rem;
  height: 100%;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.35);
  margin: 0 2rem 2rem 0;

  background: linear-gradient(
    to left,
    rgba(3, 121, 160, 0.7),
    rgba(43, 150, 118, 0.7)
  );
  cursor: pointer;
}

.homepage-token-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  width: 100%;
  max-width: 15rem;
  height: 100%;
  max-height: 3rem;
  object-fit: contain;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.35);
  margin: 0 1rem 1rem 0;
  color: white;
  background: rgba(230, 230, 230, 0.428);
  cursor: pointer;
}

#etherscan,
#bscscan {
  height: 2rem;
}
.homepage-button:hover {
  background: linear-gradient(to left, rgba(3, 121, 160), rgba(43, 150, 118));
  box-shadow: 0 0 20px rgb(161 161 161 / 57%);
  color: white;
}
.buy-button {
  display: flex;
  justify-content: center;
  margin: 2rem;
  width: 100%;
}
.homepage-onRamp {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-bottom: 3rem;
}

.homepage-onRamp iframe {
  padding: 0;
  margin: 0;
}

.social-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3rem;
  background: rgb(255, 255, 255);
  height: 5rem;
  flex-wrap: wrap;
}
.social-icon-wrapper .fab {
  font-size: 3rem;
  margin: 2rem;
}

.tokenIframes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tokenIframes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.iframe-title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eViralIframe,
.beViralIframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
  background: linear-gradient(
    to right,
    rgba(4, 192, 255, 0.415),
    rgba(64, 224, 208, 0.3)
  );
  color: white;
  padding-top: 1rem;
  border: 3px solid black;
  margin: 2rem 1rem 3rem 1rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}
.eViralIframe > iframe,
.beViralIframe > iframe {
  width: 100%;
  height: 600px;
}

#vclabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
#vclabs img {
  width: 100%;
}

#vclabsm {
  display: none;
  width: 100%;
}
#vclabsd {
  width: auto;
}

.eViralLogo {
  height: 2rem;
  margin: 0 0.3rem 0 0.5rem;
}

#why-viral-crypto h3 {
  margin-bottom: 1rem;
  animation: mymove2 5s infinite;
  color: rgb(23, 155, 23);
}
#why-viral-crypto {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  text-align: center;
}

#why-viral-crypto p {
  width: 80%;
}

#how-it-works1 {
  display: none;
}
#how-it-works2 {
  width: 100%;
  min-height: 250px;
  background: white;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#how-it-works3 {
  width: 100%;
  min-height: 250px;
  background: white;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#how-it-works-logo {
  height: 90%;
  opacity: 0.15;
  position: absolute;
  top: 1rem;
  text-align: center;
  width: auto;
}

#how-it-works-title {
  margin-bottom: 1rem;
  position: absolute;
  top: 1rem;
  text-align: center;
  width: auto;
  border-bottom: 2px solid rgba(0, 0, 49, 0.483);
}

#how-it-works-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-top: 2rem;
}
#how-it-works-content h6 {
  text-align: center;
  font-size: 1.1rem;
}
#how-it-works-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 27%;
  height: 100%;
}

#how-it-works-section article {
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  .homepage-welcome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .homepage-welcome > h1 {
    font-size: 2.5rem;
  }
  .hero-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 960px) {
  .tokenIframes-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .homepage-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .homepage-welcome > h1 {
    font-size: 2rem;
  }

  .homepage-welcome > h2 {
    font-size: 3rem;
  }

  .homepage-welcome {
    display: flex;
    align-items: center;
  }
  #vclabsd {
    display: none;
  }
  #vclabs img {
    width: 100%;
  }
  #vclabsm {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  #how-it-works2 {
    display: none;
  }

  #how-it-works1 {
    width: 100%;
    min-height: 250px;
    background: white;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  #how-it-works1 img {
    width: 80%;
  }
  .homepage-welcome {
    width: 90%;
  }
  .homepage-buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .homepage-button {
    margin-right: 0;
    width: 80%;
  }
}

@keyframes mymove {
  50% {
    color: rgb(126, 241, 214);
    opacity: 01;
  }
}
@keyframes mymove2 {
  50% {
    color: rgb(78, 255, 98);
    opacity: 01;
  }
}

@media screen and (max-width: 500px) {
  .homepage-buttons {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
  }
  .homepage-button {
    font-size: 0.9rem;
    width: 80%;
  }
  .homepage-welcome > h2 {
    font-size: 2.7rem;
  }
  #how-it-works3 {
    padding-bottom: 2rem;
  }
}
