.background-homepage {
  display: flex;
  height: 100%;
}

.byMoralis {
  margin: 4rem 0 3rem 0;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.hero-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.homepage-welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 5rem;
  width: 80%;
}

.homepage-welcome > h1 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  color: rgb(219, 255, 238);
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 2px 3px 3px black;
  animation: mymove 5s infinite;
}

.homepage-welcome > h2 {
  font-size: 3.5rem;
  animation: mymove 5s infinite;
}
.homepage-welcome > p {
  font-size: 1.5rem;
}

.hero-text {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  margin-top: 24px;
  width: 100%;
}

.hero-btns {
  margin-top: 20px;
}

.homepage-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}
.homepage-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  width: 40%;
  max-width: 15rem;
  height: 100%;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.35);
  margin: 0 2rem 2rem 0;
  background: linear-gradient(
    to left,
    rgba(3, 121, 160, 0.7),
    rgba(43, 150, 118, 0.7)
  );
  cursor: pointer;
}

.homepage-button:hover {
  background: linear-gradient(to left, rgba(3, 121, 160), rgba(43, 150, 118));
  box-shadow: 0 0 20px rgb(161 161 161 / 57%);
  color: white;
}

.tokenIframes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tokenIframes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.iframe-title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eViralIframe,
.beViralIframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
  background: linear-gradient(
    to right,
    rgba(4, 192, 255, 0.415),
    rgba(64, 224, 208, 0.3)
  );
  color: white;
  padding-top: 1rem;
  border: 3px solid black;
  margin: 2rem 1rem 3rem 1rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}
.eViralIframe > iframe,
.beViralIframe > iframe {
  width: 100%;
  height: 600px;
}

.eViralLogo {
  height: 2rem;
  margin: 0 0.3rem 0 0.5rem;
}

@media screen and (max-width: 1080px) {
  .homepage-welcome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .homepage-welcome > h1 {
    font-size: 2.5rem;
  }
  .hero-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 960px) {
  .tokenIframes-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .homepage-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .homepage-welcome > h1 {
    font-size: 2rem;
  }

  .homepage-welcome > h2 {
    font-size: 3rem;
  }

  .homepage-welcome {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .homepage-welcome {
    width: 90%;
  }
  .homepage-buttons {
    width: 90%;
  }
}

@keyframes mymove {
  50% {
    color: rgb(126, 241, 214);
    opacity: 01;
  }
}

@media screen and (max-width: 500px) {
  .homepage-button {
    font-size: 0.9rem;
    width: 40%;
  }
  .homepage-welcome > h2 {
    font-size: 2.7rem;
  }
}
