.background-homepage {
  display: flex;
  height: 100%;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.homepage-welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 7rem;
  width: 80%;
}

.homepage-welcome > h1 {
  color: rgb(219, 255, 238);
  font-size: 70px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 2px 3px 3px black;
  animation: mymove 5s infinite;
}

.hero-text {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  margin-top: 24px;
}

.hero-btns {
  margin-top: 20px;
}

.tokenIframes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.tokenIframes-wrapper {
  display: flex;
  width: 100%;
}
.iframe-title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eViralIframe,
.beViralIframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  background: linear-gradient(
    to right,
    rgba(4, 192, 255, 0.415),
    rgba(64, 224, 208, 0.3)
  );
  color: white;
  padding-top: 1rem;
  border: 3px solid black;
  margin: 2rem 1rem 3rem 1rem;
}
.eViralIframe > iframe,
.beViralIframe > iframe {
  width: 100%;
  height: 600px;
}

.eViralLogo {
  height: 2rem;
  margin: 0 0.3rem 0 0.5rem;
}

@media screen and (max-width: 1080px) {
  .homepage-welcome > h1 {
    font-size: 50px;
  }
  .hero-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 960px) {
  .tokenIframes-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .homepage-welcome > h1 {
    font-size: 35px;
  }
  .hero-text {
    font-size: 15px;
  }
}

@keyframes mymove {
  50% {
    color: rgb(160, 252, 255);
    opacity: 0.6;
  }
}
