.landingpage-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.landingpage-container > h1 {
  color: rgb(219, 255, 238);
  font-size: 70px;
  margin-top: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 2px 3px 3px black;
  animation: mymove 5s infinite;
}

.landingpage-container > p {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 2px 3px 9px black;
}

@keyframes mymove {
  50% {
    color: rgb(160, 252, 255);
    opacity: 0.6;
  }
}
