.connectMenu-background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: rgb(112, 128, 144);
  background-color: rgba(112, 128, 144, 0.65);
  backdrop-filter: blur(5px);
}

.connectMenu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  border-radius: 1rem;
  margin: 2rem;
  width: 50%;
  background-color: ghostwhite;
}

.connectMenu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.connectMenu-metamask,
.connectMenu-walletConnect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.metamask-logo,
.walletconnect-logo {
  height: 100%;
  width: 50%;
}
