.homepage-onRamp {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.homepage-onRamp iframe {
  padding: 0;
  margin: 0;
}
.homepage-onRamp-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}
.homepage-onRamp-text h3,
.homepage-onRamp-text h4 {
  width: 90%;
  color: white;
  margin-top: 2rem;
}

.onramper-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 595px;
  background: linear-gradient(
    to right,
    rgba(4, 192, 255, 0.415),
    rgba(64, 224, 208, 0.3)
  );
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border: 3px solid black;
}
.onramper-widget html {
  background-color: transparent !important;
}

@media screen and (max-width: 640px) {
  .homepage-onRamp {
    flex-direction: column;
    width: 90%;
  }
  .homepage-onRamp-text {
    width: 100%;
  }
  .homepage-onRamp-text h4 {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .onramper-widget {
    width: 100%;
  }
}
