.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  margin-bottom: 25px;
}

.pagination-prev,
.pagination-next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 5px 10px rgba(61, 61, 61, 0.17);
  border: none;
}

.pagination-prev:hover,
.pagination-next:hover {
  background: rgb(213, 213, 213);
}


#rightarrow, #leftarrow {
  height: 27px;
  width: 15;
}

.pagination-prev{
  margin-right: 400px;
}

@media only screen and (max-width: 1300px) {
  .pagination{
    width: 100%;
    min-width: 375px;
  }
  .pagination-prev{
    margin-right: 150px;
  }
}