.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 1rem;
}

.pagination-prev,
.pagination-next {
  display: flex;
  align-items: center;
  padding: 0 1rem;

  color: white;
  border: 2px solid lightgrey;
  box-shadow: 0 5px 10px rgba(61, 61, 61, 0.17);
}

.pagination-prev {
  padding-right: 2rem;
  margin-right: 2rem;
  background: linear-gradient(to right, rgb(3, 121, 160), rgb(43, 150, 118));
  border-radius: 0.5rem;
}

.pagination-next {
  padding-left: 2rem;
  margin-left: 2rem;
  background: linear-gradient(to left, rgb(3, 121, 160), rgb(43, 150, 118));
  border-radius: 0.5rem;
}

.fas.fa-circle {
  font-size: 1rem;
  color: darkslategray;
}

.pagination-prev > .fas,
.pagination-next > .fas {
  margin: 0.5rem;
  color: white;
}
