.profile-card-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  max-width: 15rem;

  justify-content: flex-start;
}

.profile-card-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(61, 61, 61, 0.17);
  filter: drop-shadow(0 6px 20px rgba(61, 61, 61, 0.017));
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  background: linear-gradient(to bottom, lightgray, whitesmoke);
}

.profile-cards-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 100%;
}

.profile-card-pic-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.profile-card-img {
  display: flex;
  height: 100%;
  width: auto;
  min-width: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.profile-card-img:hover {
  transform: scale(1.15);
}

.profile-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 33%;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.profile-card-title {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.creator-profile-pic {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 100%;
}

.profile-summary {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0 0.2rem 0 0.2rem;
  margin-top: 0.2rem;
  font-size: 0.8rem;
  object-fit: contain;
  height: 65%;
  overflow: overlay;
}

.project-card-summary {
  padding: 0 0.2rem 0 0.2rem;
  font-size: 0.85rem;
  margin-top: 0.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  object-fit: contain;
  height: 65%;
  overflow: overlay;
}

.profile-summary::-webkit-scrollbar {
  width: 3px;
}

.profile-summary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.profile-summary::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.605);
  outline: none;
}

.profile-social-icon-wrapper {
  width: 100%;
}
.profile-social-icon {
  font-size: 2rem;
  margin: 0 0.5rem;
  color: deepskyblue;
}

.card-footer {
  width: 100%;
  height: 15%;
  display: flex;
}

.img-body {
  display: flex;
  justify-content: center;
  position: relative;
  height: 24rem;
  overflow: hidden;
}

.profile-card-footer {
  width: 100%;
  height: 12%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.rating {
  display: flex;
  align-items: center;
}

.saveProfile {
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: mediumturquoise;
}

.far.fa-heart {
  color: crimson;
  font-size: 2rem;
}

.fas.fa-heart {
  color: red;
  font-size: 2rem;
}

.each-project-container {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

@media only screen and (max-width: 500px) {
  .profile-summary > p {
    font-size: calc(0.7rem + 0.9vw);
  }
}
