.profile-card-container {
  display: flex;
  flex-direction: column;
  height: 20rem;
  max-width: 15rem;
  box-shadow: 0 6px 20px rgba(61, 61, 61, 0.17);
  filter: drop-shadow(0 6px 20px rgba(61, 61, 61, 0.017));
  overflow: hidden;
  text-decoration: none;
  justify-content: flex-end;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.2rem;
  background: linear-gradient(to bottom, lightgray, whitesmoke);
}

.profile-card-wrapper {
  height: 100%;
}

.profile-cards-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: auto;
  margin: 5% 0;
}

.profile-card-pic-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.profile-card-img {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: auto;
  object-fit: cover;
  transition: all 0.2s linear;
  border-radius: 50%;
}

.profile-card-img:hover {
  transform: scale(1.15);
}

.profile-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.profile-card-title {
  display: flex;
  justify-content: center;
}
.profile-card-title h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}

.creator-profile-pic {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 100%;
}

.profile-summary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0.3rem;
}
.profile-summary > p {
  text-align: left;
  width: 100%;
  margin-bottom: 0;
  font-size: 1rem;
}

.profile-social-icon-wrapper {
  width: 100%;
}
.profile-social-icon {
  font-size: 2rem;
  margin: 0 0.5rem;
  color: deepskyblue;
}

.card-footer {
  width: 100%;
  height: 15%;
  display: flex;
}

.img-body {
  display: flex;
  justify-content: center;
  position: relative;
  height: 24rem;
  overflow: hidden;
}

.profile-card-footer {
  width: 100%;
  height: 15%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.rating {
  display: flex;
  align-items: center;
}

.saveProfile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: mediumturquoise;
}

.far.fa-heart {
  color: crimson;
  font-size: 2rem;
}

.fas.fa-heart {
  color: red;
  font-size: 2rem;
}

.each-project-container {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

@media only screen and (max-width: 500px) {
  .profile-summary > p {
    font-size: calc(0.7rem + 0.9vw);
  }
}
