.cards {
  padding: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cards-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.card-container {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: initial;
  height: auto;
  width: 100%;
  max-width: 256px;
  box-shadow: 0 6px 20px rgba(39, 39, 39, 0.17);
  filter: drop-shadow(0 6px 20px rgba(39, 39, 39, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.project-cards__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0 1rem;
}

.cards-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 333px;
  height: 100%;
  width: auto;
  text-decoration: none;
  background: whitesmoke;
}

.card-pic-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project-img {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: max-content;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top: 2px solid rgba(0, 0, 0, 0.25);
}

.project-card-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.project-creator {
  margin: 0.5rem 0 0.5rem 0;
}

.creator-profile-pic {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 100%;
}

.card-footer {
  width: 100%;
  height: 15%;
  display: flex;
}

.my-projects-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.fa-star {
  margin: 0.5rem;
  color: gold;
}

.img-body {
  display: flex;
  justify-content: center;
  position: relative;
  height: 24rem;
  overflow: hidden;
}

.rating {
  display: flex;
  align-items: center;
  margin-right: 0.2rem;
  font-size: 0.9rem;
}

.bookmark {
  width: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  color: mediumturquoise;
}

.far.fa-bookmark {
  color: #1f98f4;
  font-size: 2rem;
}

.fas.fa-bookmark {
  color: mediumturquoise;
  font-size: 2rem;
}

.project-img:hover {
  transform: scale(1.15);
}

.each-project-container {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}
