.background {
  position: relative;
  background-color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 0;
}

.foreground {
  position: relative;
  left: 0px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
#loadProjects-container{
  width: 100%;
  min-width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.searchbar-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px; 
  width: 300px;
  height: 60px;
  right: 0px;
  top: calc(50% - 80px/2);  
  /* Gradients/1 */  
  background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
  border-radius: 8px;
  border: none;
  font-family:ProximaNova;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #FDFDFD;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 25px 80px;
}

#imagebutton{  
  border: none;
  outline: none;
  background: none;
}


/* Projects (profiles are below) */

.project-section-title {
  display: flex;
  justify-content: flex-start;
  width: 1336px;
  height: 64px;
  font-family:ProximaNova-bold;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  color: #2d2d2d;
  margin: 100px 0px 25px 20px;
}

#notfoundmessage{
  height: 64px;
  font-family:ProximaNova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
  margin: 30px 0px 25px 80px;
}

#blockchain-logo-container{
  width: 1200px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
#blockchain-logo{
  height: 100%;
  width: auto;  
}
#blockchain-logo:hover{
  transform: scale(1.25);
  cursor: pointer;
}

.project-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.project-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(auto-fill, 495px);
  width: 1440px;
  gap: 24px;
  padding: 2rem 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}
.profile-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(auto-fill, 656px);
  width: 1440px;
  gap: 32px;
  padding: 32px 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.my-project-grid-wrapper {
  display: grid;
  grid-template: repeat(2, 25rem) / repeat(3, 22rem);
  width: 100%;
  gap: 1.5rem;
  padding: 1rem 0;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.project-grid-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 320px;
  height: 400px;
  box-shadow: 0 6px 20px rgba(39, 39, 39, 0.17);
  filter: drop-shadow(0 5px 100px rgba(39, 39, 39, 0.017));
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 0.25rem;
  overflow: hidden;
  background: linear-gradient(to bottom, lightgray, whitesmoke);
}
.project-grid-box-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
}
.profile-grid-box-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.project-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44%;
  width: auto;
}

.project-url-link {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.project-card-img {
  display: flex;
  height: auto;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.project-card-img:hover {
  transform: scale(1.15);
}

.project-card-body {
  display: flex;
  flex-direction: column;
  height: 44%;
  width: auto;
  padding: 0.5rem 0.5rem 0 0.5rem;
  background: white;
}

.project-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: auto;
  padding-left: 5px;
  padding-bottom: 0.5rem;
  margin-bottom: 0.7rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.project-card-title h4 {
  margin-bottom: 0;
  font-size: 1.1rem;
}


.project-card-creator {
  display: flex;
  align-items: center;
  height: 15%;
  width: 100%;
  margin-bottom: 0.7rem;
  margin-top: 0.3rem;
}
.project-card-creator-pic {
  width: 3rem;
  height: 3rem;
  min-width: 50px;
  margin-right: 0.3rem;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(39, 39, 39, 0.33);
}
.project-card-creator-name {
}

.project-card-summary {
  padding: 0 0.2rem 0 0.2rem;
  font-size: 0.85rem;
  margin-top: 0.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  object-fit: contain;
  height: 65%;
  overflow: overlay;
}

.project-card-summary::-webkit-scrollbar {
  width: 3px;
}

.project-card-summary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.project-card-summary::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.605);
  outline: none;
}

.project-card-footer {
  display: flex;
  height: 12%;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.project-card-profilepic {
  width: 100%;
  height: 100%;
  min-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.project-card-date {
  font-size: 0.9rem;
}

.bookmark {
  width: max-content;
  height: max-content;
}

.fas.fa-bookmark,
.far.fa-bookmark {
  margin-right: 0;
}

/* Profiles */

.profile-box-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47%;
  border-bottom: 1px solid lightgrey;
}

.profile-box-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 40%;
  padding: 0.7rem 0rem 5px;
  background: white;
}
.profile-box-creator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.2rem;
  height: 60%;
  width: 60%;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-box-profilepic {
  position: absolute;
  top: 32%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 30%;
  padding-left: 0.2rem;
}

.profile-box-profilepic-pic {
  width: 100px;
  height: 100px;

  margin-right: 0.3rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(39, 39, 39, 0.33);
}

.profile-box-profile-img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  border: 1px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.profile-box-summary {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  object-fit: contain;
  height: 65%;
  overflow: overlay;
  margin: 0 0.5rem;
}

.profile-box-summary::-webkit-scrollbar {
  width: 0px;
}

.profile-box-summary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.profile-box-summary::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.605);
  outline: none;
}

.profile-box-footer {
  display: flex;
  height: 12%;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
  margin: 0 0rem;
}




@media only screen and (max-width: 1300px) {
  #blockchain-logo-container{
    width: 356px;
    height: min-content;
    min-height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
  }
  #blockchain-logo{
    height: 52px;
    width: auto; 
    margin: 12px 12px 12px 0; 
  }
  #loadProjects-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 375px;
  }
  .project-section-title{
    display: flex;
    justify-content: flex-start;
    width: 335px;
    font-size: 32px;
    margin: 50px 0 25px 0px;
  }
  .project-grid-wrapper {
    display: grid;
    width: 375px;
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(auto-fill, 400px);
    gap: 30px;
    
  }
  .profile-grid-wrapper {
    width: 375px;
    grid-template-columns: repeat(1, 340px);
    grid-template-rows: repeat(auto-fill, 580px);
    padding: 24px;
    gap: 24px;
  }
}