.rating-project-container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 15rem;
  box-shadow: 0 6px 20px rgb(61 61 61 / 17%);
  filter: drop-shadow(0 6px 20px rgba(61, 61, 61, 0.017));
  overflow: hidden;
  text-decoration: none;
  justify-content: flex-end;
  border: 2px solid rgba(0, 0, 0, 0.25);
  margin: 1rem 0 1rem 0;
  padding: 0.5rem;
}

.rating-project-stars-container {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.rating-project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rating-project-wrapper h4 {
  margin-bottom: 0;
}

.rating-review-title {
  margin-bottom: 0.3rem;
  width: 100%;
}

.rating-project-stars-container > label > input {
  display: none;
}

.fa-star {
  margin: 0;
}

.fas.fa-star.gold {
  color: gold;
  margin: 0.2rem;
  transition: all 0.2s linear;
}

.fas.fa-star.grey {
  color: lightgrey;
  margin: 0.2rem;
  transition: all 0.2s linear;
}
.fas.fa-star.grey:hover,
.fas.fa-star.gold:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.rating-project-submit-button {
  display: flex;
  justify-content: center;
}

.rating-project-submit-button {
  padding: 0.2rem 0.3rem;
  box-shadow: 0 6px 20px rgb(61 61 61 / 17%);
  width: 100%;
  max-width: 15rem;
  margin: 0.3rem 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.35);
}
