.searchbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 1440px;
  height: 80px;  
  border-radius: 20px;
  position: relative;
  margin: 25px 0 10px 0;
}
.searchbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  height: 60px;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }

.searchbar-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 20px 18px 32px;
  width: 1036px;
  height: 60px;
  border: 1px solid #cbcbcc85;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  font-family:ProximaNova;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
}
.searchbar-text:focus {
  border: none;
  outline: 1px solid #cbcbcc85;
}

.searchbar-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;    
  width: 300px;
  height: 60px;
  right: 00px;
  top: 0;  
  /* Gradients/1 */  
  background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
/* identical to box height, or 133% */
  display: flex;
  align-items: center;
  text-align: center;
  /* Black / White */

  color: #FDFDFD;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
}
.searchbar-button:hover{
  background: linear-gradient(152.95deg, #31e67f 45.2%, #0ca47e 93.13%);
  cursor: pointer;
}

#searchbarglass {
  margin-left: 12px;
  height: 24px;
}

#narrowByTagsContainer{
 width: 1300px;
 height: min-content;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 10px 0 20px 0px;
 transition: height 3s ease-in-out;
 box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
 padding: 15px 0;
 border-radius: 8px;
 
}

#narrowByTagsContainer>#narrowBySkillList{
  border-top: 1px solid #cbcbcc85;
  margin-top: 15px;
  padding-top: 15px;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#narrowByTagHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1300px;    
  padding: 0px 30px 0px;
  
}
#narrowByTagHeader>h5{
  margin-bottom: 0;
}

#narrowByTagDropDownButton{
  border: none;
  background: transparent;
  width: 28px;
  height: 28px;
  margin-right: 25px;
}
#narrowByTagDropDownButton>img{
  height: 100%;
}


#narrowByTagHeaderLabel{
  font-family: ProximaNova-bold;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 20px;  
  width: 70%;
  display: flex;
  align-items: center;
}

#narrowBySkillList{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: min-content;
  transition: height 3s ease-in-out;
}

#narrowBySkill{
  height: 42px;
  border-radius: 8px;
  width: min-content;
  min-width: 80px;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FDFDFD;
  border: none;
  background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
  margin: 5px 10px;
  padding: 5px 10px;
  white-space: nowrap;
}
#narrowBySkill:hover{
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .searchbar-container{
    width: 350px;
    height: 56px;
    margin: 25px 0px;
  }
  .searchbar-button{
    width: 80px;
    height: 48px;
    font-size: 14px;
  }
  #searchbarglass{
    height: 15px;
    margin-left: 5px;
  }
  .searchbar-wrapper {
    width: 350px;
    height: 48px;
    padding: 12px 0;
  }
  .searchbar-text {
    width: 300px;
    height: 48px;
    margin: 0;
    font-size: 14px;
    padding-left: 10px;
  }
  #narrowByTagsContainer{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0px;  
   }
   #narrowByTagHeader{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 300px;
   }
   #narrowByTagDropDownButton{
     border: none;
     background: transparent;
     width: 24px;
     height: 24px;
   }
   #narrowByTagHeaderLabel{
     font-family: ProximaNova-bold;
     font-style: normal;
     font-weight: normal;
     font-size: 22px;
     line-height: 20px;
     margin-bottom: 15px;
     width: 300px;
   }
   
   #narrowByTagsContainer>#narrowBySkillList{
     display: flex;
     flex-wrap: wrap;
     width: 335px;
   }
   
   #narrowBySkill{
     height: 36px;
     border-radius: 8px;
     width: min-content;
     min-width: 80px;
     font-family: ProximaNova;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: #FDFDFD;
     border: none;
     background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
     margin: 5px 10px;
     padding: 5px 10px;
     white-space: nowrap;
   }
}

