.searchbar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 1440px;
  height: 80px;  
  border-radius: 20px;
  position: relative;
  margin: 50px 0 25px 0;
}
.searchbar-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1336px;
  height: 80px;
  position: relative;
  }

.searchbar-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 20px 24px 32px;
  width: 1036px;
  height: 80px;
  border: 1px solid #CBCBCC;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  font-family:ProximaNova;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  margin-left: 80px;
}

.searchbar-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;  
  position: absolute;
  width: 300px;
  height: 80px;
  right: 00px;
  top: 0;  
  /* Gradients/1 */  
  background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
  border-radius: 8px;
  border: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
/* identical to box height, or 133% */
  display: flex;
  align-items: center;
  text-align: center;

  /* Black / White */

  color: #FDFDFD;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
}

#searchbarglass {
  margin-left: 12px;
  height: 32px;
}

#narrowByTagsConatiner{
 width: 1336px;
 height: min-content;
 display: flex;
 flex-direction: column;
 margin: 20px 0 20px 80px;
 transition: height 3s ease-in-out;
}
#narrowByTagHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  
}
#narrowByTagDropDownButton{
  border: none;
  background: transparent;
  width: 28px;
  height: 28px;
}
#narrowByTagDropDownButton>img{
  height: 100%;
}


#narrowByTagHeaderLabel{
  font-family: ProximaNova-bold;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 20px;
  margin-bottom: 15px;
  width: 70%;
}

#narrowBySkillList{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: min-content;
  transition: height 3s ease-in-out;
}

#narrowBySkill{
  height: 42px;
  border-radius: 8px;
  width: min-content;
  min-width: 80px;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FDFDFD;
  border: none;
  background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
  margin: 5px 10px;
  padding: 5px 10px;
  white-space: nowrap;
}
#narrowBySkill:hover{
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .searchbar-container{
    width: 330px;
    height: 56px;
    margin: 25px 25px;
  }
  .searchbar-button{
    width: 80px;
    height: 56px;
    font-size: 14px;
  }
  #searchbarglass{
    height: 15px;
    margin-left: 5px;
  }
  .searchbar-wrapper {
    width: 330px;
    height: 56px;
    padding: 12px 0;
  }
  .searchbar-text {
    width: 300px;
    height: 56px;
    margin: 0;
    font-size: 14px;
    padding-left: 10px;
  }
  #narrowByTagsConatiner{
    width: 336px;
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 20px;  
   }
   #narrowByTagHeader{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 300px;
   }
   #narrowByTagDropDownButton{
     border: none;
     background: transparent;
     width: 24px;
     height: 24px;
   }
   #narrowByTagHeaderLabel{
     font-family: ProximaNova-bold;
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 20px;
     margin-bottom: 15px;
   }
   
   #narrowBySkillList{
     display: flex;
     flex-wrap: wrap;
     width: 336px;
   }
   
   #narrowBySkill{
     height: 36px;
     border-radius: 8px;
     width: min-content;
     min-width: 80px;
     font-family: ProximaNova;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: #FDFDFD;
     border: none;
     background: linear-gradient(152.95deg, #5DED9C 32.2%, #0EBD91 93.13%);
     margin: 5px 10px;
     padding: 5px 10px;
     white-space: nowrap;
   }
}

