.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0.5rem;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(4, 192, 255, 0.415),
    rgba(64, 224, 208, 0.35)
  );
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
.searchbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem 1rem;
  width: 90%;
  max-width: 1100px;
}

.searchbar-text {
  height: 3rem;
  width: 50%;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  padding-left: 1.5rem;
  font-family: sans-serif;
  font-size: 1.2rem;
  box-shadow: 0 5px 10px rgba(61, 61, 61, 0.17);
}

.btn2.searchbtn {
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  align-items: center;
  height: 3rem;
  margin-left: 0;
  padding: 1rem;
  font-family: sans-serif;
  font-size: 1.3rem;
  box-shadow: 0 5px 10px rgba(61, 61, 61, 0.17);
}

.fas.fa-search {
  margin: 0;
  margin-right: 0.3rem;
  color: white;
}

@media only screen and (max-width: 700px) {
  .searchbar-wrapper {
    width: 90%;
    margin: 2rem 1rem 1rem;
  }
  .searchbar-text {
    width: 100%;
  }
}
