.page-container {
  position: relative;
  background-color: whitesmoke;
  overflow-x: hidden;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  background: linear-gradient(to bottom, lightgrey, whitesmoke, white);
  min-height: 300px;
}

.profile-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-bottom: 0.5rem;
}
.sub-profile-container {
  display: flex;
  justify-content: center;
  height: 70%;
  width: 100%;
  background-color: ghostwhite;
}

.sub-profile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 100%;
}

.aboutme-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 25%;
  margin-right: 1rem;
}

.aboutme-wrapper {
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  background-color: white;
  border: 3px solid lightgrey;
  width: 100%;
}

.profile-location {
  margin-bottom: 0;
}

.profile-action-container {
  display: flex;
  align-items: flex-start;
  width: 75%;
  height: max-content;
}

.profile-action-wrapper {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border: 3px solid lightgrey;
  width: 100%;
  height: max-content;
}

.profile-background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landscape-pic {
  width: 100%;
  max-height: 25rem;
  object-fit: cover;
  transition: all 0.2s linear;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.profile-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  transform: translateY(-0.5rem);
  padding-bottom: 0.3rem;
  border-bottom: 3px solid lightgrey;
  padding-left: 3rem;
}

.edit-profile-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-height: 12rem;
  align-items: center;
  justify-content: space-evenly;
}

.save-profile-wrapper {
  display: flex;
  width: 10%;
  max-height: 12rem;
  align-items: center;
  justify-content: center;
}
.save-profile-wrapper i.far {
  margin: 0rem;
  margin-bottom: 0.5rem;
}

.profile-page-summary {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.profile-pic-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  width: 50%;
  height: auto;
  max-width: 12rem;
  min-height: 5rem;
  min-width: 5rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: lightgray;
  border: 3px solid white;
  box-shadow: 0px 0.5rem 0.7rem lightgrey;
  transform: translateY(-0.5rem);
}

.profile-pic-container:hover .profile-pic {
  opacity: 0.5;
  cursor: pointer;
}
.profile-pic-container:hover .middle-of-profilePic {
  opacity: 1;
  cursor: pointer;
}

.profile-pic {
  height: auto;
  width: 100%;
  min-height: 5rem;
  min-width: 5rem;
  border-radius: 50%;
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: 0.3s ease;
  backface-visibility: hidden;
}
.middle-of-profilePic {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fas.fa-camera-retro {
  font-size: 3rem;
}

.projects {
  width: 100%;
}

.hr {
  border-bottom: 3px;
}

.update-profile-img-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  position: absolute;
  transform: translate(270%, 250%);
}

.update-profile-img {
  background-color: lightgrey;
  border-radius: 50%;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.update-profile-img:hover {
  background-color: darkgray;
}

.profile-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 90%;
}

.profile-page-username h2 {
  font-size: 1rem;
}

.profile-story-title {
  padding-bottom: 2px;
  border-bottom: 3px solid lightgrey;
}

.edit-profile-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-height: 12rem;
  align-items: center;
  justify-content: space-evenly;
}

.profile-page-balances {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  background-color: rgb(35, 105, 247);
  border-radius: 0.3rem;
  padding: 0.25rem;
  border: 1px solid lightslategray;
  height: 2.7rem;
}

.profile-balances-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  font-size: 1rem;
  height: 3.3rem;
  margin: 0.2rem 0;
}

.showProfileBalance,
.showProfileBalanceBSC {
  color: rgb(58, 228, 103);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  width: 100%;
}

.showProfileBalanceBSC {
  color: gold;
}

.showProfileBalance > p,
.showProfileBalanceBSC > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.logo-balance-display {
  margin-left: 0.3rem;
  height: 1.5rem;
}

.profile-header-btns {
  display: flex;
  flex-direction: row;
}

.edit-profile-button,
.create-project-button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0.3rem;
}

.profile-heading-socials {
  display: flex;
  justify-content: center;
}

.social-icon-wrapper {
  height: auto;
  width: 100%;
}

.fas.fa-pen,
.fas.fa-puzzle-piece {
  margin: 0 0.5rem 0 0;
}

.social-icon > i,
.update-socials > i {
  font-size: 2rem;
  margin: 1rem;
  color: deepskyblue;
}

.update-container {
  border: 3px solid grey;
  border-radius: 15px;
  margin: 2rem 1rem 2rem 1rem;
  width: 50%;
}

.update-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
  width: 85%;
}

.change-profile-pic-footer {
  display: flex;
  flex-direction: column;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.change-photo {
  display: inline-block;
}

.form-label {
  margin: 1rem 0 0.5rem 0;
}

.my-projects-cards {
  width: 100%;
  height: max-content;
}

.my-projects-title {
  margin: 0.5rem 0 0 1rem;
}

@media only screen and (max-width: 850px) {
  .profile-header {
    padding-left: 0.5rem;
  }

  .profile-page-bio {
    font-size: 0.9rem;
  }
  .sub-profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutme-container {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .profile-action-container {
    width: 100%;
  }
  .profile-action-wrapper {
    margin: 1rem 0 1rem 0;
  }
  .profile-story-description {
    width: 80%;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
  }

  .edit-profile-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 12rem;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.5rem;
  }

  .profile-page-username h2 {
    overflow-wrap: break-word;
  }

  .profile-page-summary h2 {
    font-size: calc(1.325rem + 0.9vw);
    overflow-wrap: break-word;
  }
}

@media only screen and (max-width: 500px) {
  .profile-summary h2 {
    font-size: calc(1.1rem + 0.9vw);
    margin-bottom: 0.2rem;
    font-weight: 600;
  }
}
