.wallet-background {
  background-color: rgb(56, 56, 56);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

.choose-chain-wallet-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

#choosechaintext {
  color: white;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.choose-chain-wallet-ETH,
.choose-chain-wallet-BSC,
.choose-chain-wallet-MATIC,
.choose-chain-wallet-AVAX {
  display: flex;
  flex-direction: row;
  width: 98%;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem 0rem;
  margin-top: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.65);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

.choose-chain-wallet-ETH {
  background: linear-gradient(
    to right,
    rgba(4, 159, 255, 0.615),
    rgba(64, 99, 224, 0.5)
  );
}
.choose-chain-wallet-BSC {
  background: linear-gradient(to right, gold, rgba(251, 219, 37, 0.8));
}

.choose-chain-wallet-MATIC {
  background: linear-gradient(
    to right,
    rgba(80, 123, 253, 0.5),
    rgba(75, 4, 255, 0.615)
  );
}
.choose-chain-wallet-AVAX {
  background: linear-gradient(to right, firebrick, red, snow);
}

.choose-chain-wallet-choose {
  display: flex;
  width: 100%;
  max-width: 70%;
  justify-content: space-between;
}
.choose-chain-wallet-chain {
  display: flex;
  height: 50%;
}
.choose-chain-wallet-chain img {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 55%;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(0, 0, 0, 0.551);
}

.choose-chain-wallet-chain img:hover {
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.552);
  cursor: pointer;
}

.choose-display-holding-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.choose-display-holding-ETH,
.choose-display-holding-BSC,
.choose-display-holding-MATIC,
.choose-display-holding-AVAX {
  display: flex;
  width: 98%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 1rem;
  margin-top: 0rem;
  border: 2px solid rgba(0, 0, 0, 0.65);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}
.choose-display-holding-ETH {
  background: linear-gradient(
    to right,
    rgba(4, 159, 255, 0.615),
    rgba(64, 99, 224, 0.5)
  );
}
.choose-display-holding-BSC {
  background: linear-gradient(to right, gold, rgba(251, 219, 37, 0.8));
}
.choose-display-holding-MATIC {
  background: linear-gradient(
    to right,
    rgba(80, 123, 253, 0.5),
    rgba(75, 4, 255, 0.615)
  );
}
.choose-display-holding-AVAX {
  background: linear-gradient(to right, red, snow);
}

#display-holding-option-ETH,
#display-holding-option-BSC,
#display-holding-option-MATIC,
#display-holding-option-AVAX {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.34);
  padding: 0.75rem 2rem;
  width: 40%;
  border-radius: 2.5rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

#display-holding-option-ETH {
  color: white;
  background: linear-gradient(
    to right,
    rgba(4, 192, 255, 0.515),
    rgba(64, 224, 208, 0.4)
  );
}
#display-holding-option-BSC {
  color: black;
  background: linear-gradient(
    to right,
    rgba(255, 247, 0, 0.768),
    rgba(255, 217, 0, 0.6),
    gold
  );
}
#display-holding-option-MATIC {
  color: white;
  background: linear-gradient(
    to right,
    rgba(64, 57, 255, 0.659),
    rgba(97, 35, 255, 0.678)
  );
}
#display-holding-option-AVAX {
  color: white;
  background: linear-gradient(to right, rgb(213, 13, 13), rgb(255, 70, 70));
}

#display-holding-option:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
}

.wallet-tokens-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wallet-tokens-ETH,
.wallet-tokens-BSC,
.wallet-tokens-MATIC,
.wallet-tokens-AVAX {
  display: flex;
  width: 98%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0.25rem;
  margin-top: 0rem;
  border: 2px solid rgba(0, 0, 0, 0.65);
  border-top: none;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}
.wallet-tokens-ETH {
  color: white;
  background: linear-gradient(
    to right,
    rgba(4, 159, 255, 0.415),
    rgba(64, 99, 224, 0.4)
  );
}
.wallet-tokens-BSC {
  color: black;
  background: whitesmoke;
}
.wallet-tokens-MATIC {
  color: white;
  background: linear-gradient(
    to right,
    rgba(80, 123, 253, 0.3),
    rgba(75, 4, 255, 0.3)
  );
}
.wallet-tokens-AVAX {
  color: white;
  background: rgba(220, 220, 220, 0.762);
}

.wallet-nfts-MATIC,
.wallet-nfts-BSC,
.wallet-nfts-ETH,
.wallet-nfts-AVAX {
  display: flex;
  width: 98%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0.25rem;
  margin-top: 0rem;
  background: linear-gradient(
    to right,
    rgba(80, 123, 253, 0.2),
    rgba(75, 4, 255, 0.2)
  );
  border: 2px solid rgba(0, 0, 0, 0.65);
  border-top: none;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

.wallet-nfts-MATIC {
  background: linear-gradient(
    to right,
    rgba(80, 123, 253, 0.2),
    rgba(75, 4, 255, 0.2)
  );
}
.wallet-nfts-BSC {
  background: rgba(255, 220, 0, 0.5);
}
.wallet-nfts-ETH {
  background: linear-gradient(
    to right,
    rgba(4, 159, 255, 0.215),
    rgba(64, 99, 224, 0.2)
  );
}
.wallet-nfts-AVAX {
  background: rgba(220, 20, 60, 0.231);
}

.wallet-token {
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-bottom: 1px solid rgba(42, 42, 42, 0.496);
  padding: 0.75rem 0rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: flex-start;
  align-items: center;
  font-size: 1.1rem;
}

.wallet-token-warning-BSC,
.wallet-token-warning-ETH,
.wallet-token-warning-MATIC,
.wallet-token-warning-AVAX {
  font-size: 0.9rem;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
  width: 98%;
  border-radius: none;
}
.wallet-token-warning-BSC {
  color: rgb(49, 49, 49);
  background: gold;
}
.wallet-token-warning-ETH {
  color: lightgray;
  background: linear-gradient(
    to right,
    rgba(4, 192, 255, 0.915),
    rgba(69, 123, 216, 0.7)
  );
}
.wallet-token-warning-MATIC {
  color: lightgray;
  background: linear-gradient(
    to right,
    rgba(97, 35, 255, 0.678),
    rgba(64, 57, 255, 0.659)
  );
}
.wallet-token-warning-AVAX {
  color: white;
  background: crimson;
}

.wallet-token-chart-ETH,
.wallet-token-chart-BSC,
.wallet-token-chart-MATIC,
.wallet-token-chart-AVAX {
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.34);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: center;
  align-items: center;
  margin-top: 0rem;
  padding: 0.75rem 0rem;
  width: 98%;
  border-radius: none;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  z-index: 2;
}
.wallet-token-chart-ETH {
  color: white;
  background: linear-gradient(
    to right,
    rgba(4, 192, 255, 0.915),
    rgba(69, 123, 216, 0.7)
  );
}
.wallet-token-chart-AVAX {
  color: white;
  background: linear-gradient(
    to right,
    rgba(255, 29, 29, 0.694),
    rgb(255, 70, 70)
  );
}

.wallet-token-chart-BSC {
  color: black;
  background: gold;
}

.wallet-token-chart-MATIC {
  color: white;
  background: linear-gradient(
    to right,
    rgba(97, 35, 255, 0.678),
    rgba(64, 57, 255, 0.659)
  );
}
#chart-column-name {
  margin: 0rem;
  font-size: 1.1rem;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#token-detail-name img {
  height: 2.5rem;
  width: 2.5rem;
}

#token-detail {
  margin: 0rem 0.1rem 0rem 0rem;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  min-width: 5rem;
  word-wrap: break-word;
  font-size: calc(0.9rem + 0.1vw);
  text-align: center;
}
#token-detail-name {
  margin: 0rem 0.1rem 0rem 0rem;
  display: flex;
  justify-content: center;
  width: 90%;
  min-width: 5rem;
  word-wrap: break-word;
  font-size: calc(0.9rem + 0.1vw);
  text-align: center;
}

#token-logoandname {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#token-token-namesymbol {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#token-name {
  font-size: 0.9rem;
  width: 100%;
}
#token-symbol {
  font-size: 0.8rem;
}

@media only screen and (max-width: 700px) {
  .wallet-token img {
    height: 3.5rem;
    width: 3.5rem;
  }
  #chart-column-name {
    font-size: 0.9rem;
  }
  #token-detail {
    font-size: 0.8rem;
    width: 90%;
    word-wrap: break-word;
  }

  #display-holding-option-ETH,
  #display-holding-option-BSC,
  #display-holding-option-MATIC,
  #display-holding-option-AVAX {
    padding: 0.5rem 1rem;
    width: 45%;
  }

  .choose-chain-wallet {
    padding: 2rem 0rem;
  }
  .choose-chain-wallet-choose {
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    padding: 0;
  }

  .wallet-token {
    padding: 0.75rem 0%;
    width: 100%;
  }

  .wallet-tokens-ETH,
  .wallet-tokens-BSC,
  .wallet-tokens-MATIC,
  .wallet-tokens-AVAX {
    padding: 1rem 0rem;
  }
}
@media only screen and (max-width: 500px) {
  .choose-chain-wallet-chain img {
    height: 5rem;
    width: 5rem;
  }
}
